@value tablet, desktop from '../Variables.css';

.nameBar {
  background-color: rgb(255, 209, 115);
  padding: 2em 2em 1em 2em;
  border-radius: 1em 0 0 0;
}

.video video{
  max-height: 42em;
  background-color: black;
}

.name {
  font-size: 3em;
  color: black;
}

.mainDisplay {
  background-color: #dcf4ff;
  padding: 1em 5em 5em 2em;
  border-radius: 0 0 0 1em;
}

.projectBox {
  box-shadow: -6px 5px 0px #0006;
  border-radius: 1em 0 0 1em;
}

.tech {
  color: black;
  font-size: 1.2em;
}

.details {
  color: black;
}

.footer {
  position: absolute;
  bottom: 2em;
  width: auto;
  padding: .5em 0;
}

.footer span {
  margin-right: 4em;
  text-decoration: none;
}
.footer span:hover {
  transition: 1s;
}

@media only screen and (min-width: tablet) {

}
