@value tablet, desktop from '../Variables.css';

.nameBar {
  background-color: rgb(56, 56, 56);
  padding: 2em 2em 1em 2em;
  border-radius: 1em 1em 0 0;
}

.video video{
  max-height: 42em;
  background-color: black;
}

.name {
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px 0px black;
}

.mainDisplay {
  background-color: rgb(56, 56, 56);
  height: 10em;
  padding: 1em;
  margin-bottom: 3em;
}

.projectBox {
  box-shadow: -6px 5px 0px #0006;
  border-radius: 1em;
}

.tech {
  font-size: 1.2em;
  color: white;
  text-shadow: 1px 1px 1px black;
  opacity: .8;
  letter-spacing: 3px;
}

.details {
  font-weight: normal;
}

.links {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 2em 0;
}

.footer {
  width: auto;
  position: absolute;
  bottom: 2em;
  left: 1em;
}

.footer span {
  margin-right: 4em;
  text-decoration: none;
}
.footer span:hover {
  transition: 1s;
}

@media only screen and (min-width: tablet) {
  .nameBar {
    border-radius: 1em 0 0 0;
  }
  .mainDisplay {
    border-radius: 0 0 0 1em;
  }
  .projectBox {
    border-radius: 1em 0 0 1em;
  }
}
