@value tablet, desktop from '../Variables.css';


.selector {
  cursor: pointer;
  margin-top: .5em;
}

@media only screen and (min-width: tablet) {
  .selector {
    height: 3em;
    margin-bottom: 1em;
    cursor: pointer;
  }
}
