@value tablet, desktop, mobile from '../Variables.css';

.container {
  margin-top: 36em;
  /*centers in the container*/
  text-align: center;
  margin-bottom: 35em;
  position: relative;
}

.container svg {
  margin: 26vw auto;
  height: 40vw;
  width: 100%;
  left: 0;
}

div.circTxt, div.circTxt2 {
  /*allows for centering*/
  display: inline-block;
  /*adjust as needed*/
  color: whitesmoke;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}

div.circTxt2 {
  padding-top: 13vw;
  font-size: .8em;
  animation: spin 30s infinite linear;
  transform-origin: 0vw 47vw;
}

div.circTxt {
  font-size: 1em;
  animation: spin 50s infinite linear;
  transform-origin: 0vw 45vw;
}

div.circTxt2 p {
  height: 30vw;
}

div.circTxt p {
  height: 40vw;
}

div.circTxt2 {
  position: absolute;
}

@media only screen and (min-width: mobile) {
  .container {
    margin-top: 40em;
    /*centers in the container*/
    text-align: center;
  }

  div.circTxt2 {
    padding-top: 14vw;
    font-size: 1.5em;
  }

  div.circTxt {
    font-size: 2em;
  }

  div.circTxt2 p {
    height: 30vw;
  }

  div.circTxt p {
    height: 40vw;
  }
}

@media only screen and (min-width: 560px) {
  .container {
    margin-top: 50em;
    /*centers in the container*/
  }
}

@media only screen and (min-width: tablet) {
  .container {
    margin-top: 70em;
    /*centers in the container*/
  }

  .container svg {
    margin: 19vw auto;
    height: 28vw;
    width: 100%;
    left: 0;
  }

  div.circTxt2 {
    padding-top: 11vw;
    font-size: 1.8em;
    transform-origin: 0vw 33vw;
  }

  div.circTxt {
    font-size: 2.3em;
    transform-origin: 0vw 33vw;
  }

  div.circTxt2 p {
    height: 20vw;
  }

  div.circTxt p {
    height: 30vw;
  }
}
