@value tablet, desktop from './Variables.css';

#waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  z-index: 0;
}

.groundWrapper {
  overflow: hidden;
}

.contact {
  position: absolute;
  bottom: 4em;
  color: white;
  font-size: .6em;
  width: 100%;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-around;
  opacity: .8;
}

.contact a {
  color: white;
  text-decoration: none;
}

.contactDesktop {
  display: none;
  font-size: .8em;
}

.email, .phone, .github {
  padding: .5em;
  opacity: .6;
}

.waterBackground {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgb(74, 88, 92, 85%), #8298a1 100%);
  height: 200vh;
  bottom: 0;
  width: 100%;
  position: relative;
}

.el {
  background: #8298a1;
  background-color: #8298a1;
  color: #8298a1;
  flex-grow: 1;
  height: 20vh;
  padding: 0;
  margin: 0;
  justify-content: stretch;
  outline: 1px solid #8298a1;
  border: 5px solid #8298a1;
  z-index: -1;
}

.line {
  border-top: 2em solid #8298a1;
  background-color: #8298a1;
  z-index: 1;
  width: 1em;
  bottom: -1em;
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media only screen and (min-width: 500px) {
  .waterBackground {
    height: 220vh;
  }
}

@media only screen and (min-width: 600px) {
  .waterBackground {
    height: 230vh;
  }
}

@media only screen and (min-width: 800px) {
  .waterBackground {
    height: 250vh;
  }
}

@media only screen and (min-width: tablet) {
  .waterBackground {
    height: 260vh;
  }
  .contactMobile {
    display: none;
    font-size: .8em;
  }
  .contactDesktop {
    display: flex;
  }
}

@media only screen and (max-height: 600px) {
  .waterBackground {
    height: 500vh;
  }
}
