@value tablet, desktop from '../Variables.css';

.projectSelectors {
}

.desktop {
  display: none;
}
.projectsRoot {
  z-index: 1;
  padding-top: 15em;
  display: flex;
  flex-direction: row;
  margin-bottom: 10em;
  font-size: .7em;
  justify-content: center;
}

.mobile {
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
}

.projectRoot {
  cursor: pointer;
}

.githubLogo {
  display: none;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}

.projectDisplay {
  position: absolute;
  right: 1em;
  left: 1em;
  max-width: 100%;
  margin-top: 2em;
}

.circle {
  display: none;
}

@media only screen and (min-width: tablet) {
  .desktop {
    display: block;
  }
  .projectsRoot {
    z-index: 1;
    padding-top: 5em;
    font-size: 1em;
    margin-bottom: 0;
    display: block;
  }

  .projectRoot {
    cursor: pointer;
  }

  .mobile {
    display: none;
  }

  .circle {
    display: block;
  }

  .githubLogo {
    position: absolute;
    left: -27em;
    top: auto;
    margin-top: 8em;
    animation: spin 30s infinite linear;
    transform-origin: 300px 300px;
    display: block;
  }

  .projectDisplay {
    position: absolute;
    margin-top: 2em;
    right: 0;
    max-width: 40%;
    left: auto;
  }
}

@media only screen and (min-width: desktop) {
  .projectDisplay {
    position: absolute;
    right: 0;
    max-width: 50%;
  }
}
